<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Current Project - Outlaws</h2>
                <hr class="light">
                <p class="text-faded">Updating Outlaws to have a full release after winning top 10 in the Pirate Game Jam 2020 Pre Jam Skirmish</p>
                <iframe frameborder="0" src="https://itch.io/embed/547900" width="552" height="167"><a href="https://crychair.itch.io/outlaws">Outlaws by Crychair, Emmitt Spliff, Alcy</a></iframe>
                <p><br></p>
                <a href="https://{{ site.itchio_username }}.itch.io/" class="btn btn-default btn-xl">See more on itch.io</a>
            </div>
        </div>
    </div>
</section>
