<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Current Projects:</h2>
                <hr class="light">
                <p class="text-faded">Current projects are on itch.io</p>
                <a href="https://{{ site.itchio_username }}.itch.io/" class="btn btn-default btn-xl">Go to itch.io</a>
            </div>
        </div>
    </div>
</section>
