
<div id="contact-top">
</div>
<div id="contact">
    <div id="contactBG" class="container-fluid">
        <div class="row">
            <div class="profile col-xs-12 col-md-4 text-center">
                <img src="img/assets/Frame_Mugface.png">
                <h3>Crychair</h3>
                <div>
                    <a href="https://twitter.com/EvanMalmud">
                        <i class="fab fa-twitter fa-fw fa-3x"></i>
                    </a>
                    <a href="mailto:evanmalmud@gmail.com">
                        <i class="fas fa-envelope fa-fw fa-3x"></i>
                    </a>
                    <a href="https://github.com/evanmalmud">
                        <i class="fab fa-github fa-fw fa-3x"></i>
                    </a>
                    <a href="https://crychair.itch.io/">
                        <i class="fab fa-itch-io fa-fw fa-3x"></i>
                    </a>
                </div>
            </div>

            <div class="profile col-xs-12 col-md-4 text-center">
                <img src="img/assets/Frame_Mugface.png">
                <h3>Alcy</h3>
                <div>
                    <a href="https://twitter.com/alcypi">
                        <i class="fab fa-twitter fa-fw fa-3x"></i>
                    </a>
                    <a href="https://tienart.com/">
                        <i class="fas fa-palette fa-fw fa-3x"></i>
                    </a>
                    <a href="https://github.com/Alcyp">
                        <i class="fab fa-github fa-fw fa-3x"></i>
                    </a>
                    <a href="https://alcyp.itch.io/">
                        <i class="fab fa-itch-io fa-fw fa-3x"></i>
                    </a>
                </div>
            </div>

            <div class="profile col-xs-12 col-md-4 text-center">
                <img src="img/assets/Frame_Mugface.png">
                <h3>Pun</h3>
                <div>
                    <a href="https://www.youtube.com/channel/UCJ1dJh1KZbhy5sOl2EkCnAg">
                        <i class="fab fa-youtube fa-fw fa-3x"></i>
                    </a>
                    <!--<a href="mailto:evanmalmud@gmail.com">
                        <i class="fas fa-envelope fa-fw fa-3x"></i>
                    </a>
                    <a href="https://github.com/evanmalmud">
                        <i class="fab fa-github fa-fw fa-3x"></i>
                    </a>-->
                    <a href="https://emmitt-spliff.itch.io/">
                        <i class="fab fa-itch-io fa-fw fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="contact-bottom">
</div>