
 
    <div id="games" class="games-carousel container-fluid">
        <div class="row">
            <div id="myowncarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myowncarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myowncarousel" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <a href="https://crychair.itch.io/mace-madness"><img src="img/Wi76uu.png" alt=""></a>
                  <div class="carousel-caption">
                        <h3>Mace Madness</h3>
                        <!--<p>...</p>-->
                      </div>
                </div>
                <div class="item">
                  <a href="https://crychair.itch.io/outlaws"><img src="img/SAtPMo.png" alt=""></a>
                  <div class="carousel-caption">
                        <h3>Outlaws</h3>
                        <!--<p>...</p>-->
                      </div>
                </div>
              </div>
              <!--<a class="left carousel-control" href="#myowncarousel" data-slide="prev">
                <span class="icon-prev"></span></a>
              <a class="right carousel-control" href="#myowncarousel" data-slide="next">
                <span class="icon-next"></span></a>-->
          </div>
        </div>
    </div>

      
