<div class="about">
    <div class="about-content">
        <div class="about-content-inner">
            <div class="container">
                <div class="row">
                    <div class = "col-6"></div>
                    <div class = "col-6">
                            <h1>The About part?</h1>
                            <hr>
                            <p>That I cant figureout how to align right</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        